# Example environment variables for Bookmark Service
REDIS_ADDR=redis:6379
APP_HOST_NAME=localhost/api/bookmark-service
DB_HOST=postgres
DB_NAME=bookmark
NR_APP_NAME=bookmark_worker
NR_LICENSE_KEY=your_new_relic_license_key_here
