# Example environment variables for User Service
REDIS_ADDR=redis:6379
APP_HOST_NAME=localhost/api/user-service
DB_HOST=postgres
DB_NAME=user
NR_APP_NAME=user_service
NR_LICENSE_KEY=your_new_relic_license_key_here
